<h1>NYC Green Markets</h1>
<%= gmaps4rails(@markers) %>

<%= form_tag markets_path, :method => 'get', :id => "products_search" do %>
  <%= hidden_field_tag :direction, params[:direction] %>
  <%= hidden_field_tag :sort, params[:sort] %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
  <div id="markets"><%#= render 'markets' %></div>
<% end %>

<table>
  <tr>
    <th><%= sortable "Name"%></th>
    <th>Address</th>
    <th><%= sortable "Borough"%></th>
    <th>Latitude</th>
    <th>Longitude</th>
  </tr>
  <% for market in @markets %>
    <tr>
      <td><%= market.name %></td>
      <td><%= market.address %></td>
      <td><%= market.borough %></td>
      <td><%= market.latitude %></td>
      <td><%= market.longitude %></td>
      <td><%= link_to "Show", market %></td>
      <td><%= link_to "Edit", edit_market_path(market) %></td>
      
    </tr>
  <% end %>
</table>


<%= yield :scripts %>

<%#= will_paginate @markets %>

<%= link_to 'New Market', new_market_path %>

