<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @market.name %>
</p>

<p>
  <b>Address:</b>
  <%= @market.address %>
</p>

<p>
  <b>Borough:</b>
  <%= @market.borough %>
</p>

<p>
  <b>Days open:</b>
  <%= @market.days_open %>
</p>


<%= link_to 'Edit', edit_market_path(@market) %> |
<%= link_to 'Back', markets_path %>
